
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    width: 600px;
    height:1150px; 
    margin-left: 350px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 4px;
}

form {
    width: 700px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

#image {
    width: 520px;
    height: 40px;
    border-radius:4px;
}

#image-preview {
    max-width: 100%;
    height: 150px; /* Increase the height */
    width: 250px; /* Increase the width */
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.clear-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    cursor: pointer;
    display: none;
}

#image-preview-container {
    position: relative;
    display: inline-block;
} 



#image-preview-container:hover .clear-icon {
    display: block;
} 

#category {
    width:520px;
    height: 40px;
    border-radius: 4px;
}

#subcategory {
    width: 520px;
    height: 40px;
    border-radius: 4px;
}
input[type="file"],
input[type="text"],
input[type="number"], 
textarea {
    width: 520px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px; 
    height: 40px; /* Increase the width */
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="description"],
textarea {
    width:520px;
    height:200px;
    border-radius: 4px;
    border:1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 20px 30px;
    border: none;
    width: 150px;
    margin-top: 30px;
    margin-left: 180px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #45A049;
}
