
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    border: 1px solid #ccc;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding-right: 6px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding-right: 6px;
}

input[type="password"] {
   width:100%;
   padding: 10px;
   margin-bottom: 15px;
   border-radius: 5px;
   outline: none;
   font-size: 16px;
   padding-right: 5px;
}

/* Add this CSS to style the visibility toggle */
/* .password-toggle {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    font-size: 14px;
    margin-left: 5px;
} */

/* Style the visibility toggle icon */
.password-toggle {
    align-items: end;
    cursor: pointer;
    color: #007b;
}

.password-input-container {
    position: relative;
}

#visibility-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

/* Style the visibility icon */
.password-toggle i {
    position: absolute;
    right: 10px; /* Adjust the right position to your preference */
    top: 50%;
    transform: translateY(-50%);
}

.password-toggle i.fa-eye-slash {
    color: yellowgreen;
}


input[type="submit"] {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width:400px;
}

button:hover {
    background-color: yellowgreen;
}

button:focus {
    outline: none;
}
